.projectListHeader {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px black solid;
  border-top: 2px black solid; */
}

.createProject {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 10px;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* flex-wrap: wrap;
  justify-content: space-between; */
}

.project {
  width: 80%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-left: 1px rgb(223, 223, 223) solid;
  border-right: 1px rgb(223, 223, 223) solid;
}

.project a {
  text-decoration: none;
  font-size: x-large;
}

.projectDetails {
  display: flex;
  align-items: center;
}

.detail {
  display: flex;
  margin-left: 40px;
}

.detail * {
  margin-left: 5px;
}
