.infoAndHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: #333;
}
.headerAndButton {
  width: 33.5%;
  color: white;
  margin-left: 25px;
  display: flex;
  justify-content: space-evenly;
}

.headerAndButton h2 {
  font-weight: normal;
}

.projectInfo {
  display: flex;
  justify-content: space-evenly;
  width: 66.5%;
  color: white;
}

.projectInfo div {
  width: 25%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hide {
  color: #333;
}

.createTask {
  background-color: #333;
  border-radius: 4px;
  border: none;
  transition: transform 0.3s ease;
  padding: 5px 8px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  border: 1px white solid;
}

.createTask:hover {
  transform: scale(1.05);
}

.createTaskDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createTaskDivContainer {
  background-color: #333;
}
